.container {
    margin-bottom: 32px;
}

.label {
    display: block;
    font-size: 14px;
    color: #848e9c;
    margin-bottom: 12px;
}

.buttons {
    display: flex;
    background: #2b3139;
    padding: 6px;
    border-radius: 12px;
    gap: 8px;
    border: 1px solid #363c46;
}

.button {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    background: transparent;
    color: #848e9c;
    transition: all 0.2s ease;
}

.active {
    background: #0068ff;
    color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 104, 255, 0.2);
}

.button:nth-child(2).active {
    background: #ef4444;
}